version: "3.9"
services:
  backend:
    build: ./Backend
    ports:
      - "8000:8000"
    volumes:
      - ./Backend:/app
    env_file:
      - .env

  frontend:
    build: ./Frontend
    ports:
      - "5173:5173"
    volumes:
      - ./Frontend:/app
    environment:
      - VITE_API_BASE_URL=http://backend:8000
    depends_on:
      - backend
