@tailwind base;
@tailwind components;
@tailwind utilities;

/* DO NOT use @apply bg-bg */
html,
body {
  background-color: #0b1220;
  color: #e5e7eb;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;   /* Only browser scrolls */
}
